<!doctype html>
<html lang="en">
<%-include('./Common/navbar.ejs')%>
<head>
   
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

   <title>UI CRUD</title>
</head>

<body>
   <div class="container" style='width: 50%; height: 70%; background-color: rgb(230, 118, 118); border-radius: 15px;'>
      <h2>Update User</h2>
      <!-- <a href="/user" class="btn btn-primary btn-sm">Add Product</a> -->
      <!-- <a href="/getuser" class="btn btn-primary btn-sm">Get all</a> -->
      <form action="/updateuser/<%=data._id%>" method="post" enctype="multipart/form-data">
         <div class="form-group">
            <label for="Product_name">Product Name</label>
            <input type="text" class="form-control" value="<%=data.product_name%>" name="product_name">
         </div>
         <div class="form-group">
            <label for="Product_des">Product Description</label>
            <input type="text" class="form-control" value="<%=data.product_des%>" name="product_des">
         </div>
         <div class="form-group">
            <label for="Product_size">Product Size</label>
            <input type="text" class="form-control" value="<%=data.product_size%>" name="product_size">
         </div>
         <div class="form-group">
            <label for="Product_color">Product Color</label>
            <input type="text" class="form-control" value="<%=data.product_color%>" name="product_color">
         </div>
         <div class="form-group">
            <label for="Image">Image</label>
            <input type="file" class="form-control" value="<%=data.images%>" name="images" multiple>
         </div>



         <button type="submit" class="btn btn-dark btn-sm">Submit</button>
      </form>

   </div>

   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>

</body>

</html>